<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>
	Add amenity
</h1>

<form action="/Amenity" method="POST">
	<input type="text" name="host_id" placeholder="Your ID">
	<input type="text" name="name" placeholder="Amenity Name">
	<input type="text" name="listing_id" placeholder="Listing ID">
	<button>Add</button>
</form>
 
 <p th:text="${message}"></p>
 
  <h3> Good Amenities to have (HOST TOOLKIT): </h3>
 <p th:text="${popular_amenity1}"></p>
 <p th:text="${popular_amenity2}"></p>
 
 <br>
 <p> <b> Amenities you can add</b>: Towel, Bed_sheets, Soap, Toilet_paper, Pillows, Wifi, 
    Shampoo, Closet, Drawers, TV, Heat, Air_Conditioning, Breakfast, 
    Coffee, Tea, Desk, Fireplace, Iron, Hair_dryer, Private_entrance, 
    Smoke_detector, Carbon_monoxide_detector, First_aid_kit, 
    Fire_extinguisher, Lock_on_bedroom_door</p>
 
</body>
</html>