<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<h1>
 Reports
</h1>

<ol>
	<li>
		<h3>Bookings Report by</h3>
		<form action="/bookingsReport" method="post">
   
			<p><b><u>Date range</u></b></p>
			<input type="date" name="startDate" placeholder="Start Date" value="2019-01-01">
			<input type="date" name="endDate" placeholder="End Date" value="2019-12-31"></br>
			<p><b><u>Zip code within a city</u></b></p>
			<input type="text" name="city" placeholder="city">
			<input type="text" name="zipArea" placeholder="postal code area" maxlength="3">
			<input type="text" name="zipNum" placeholder="postal code location" maxlength="3">
			
			<!-- <button style="height:50px;width:300px">Search</button> -->
			<button >Generate booking report</button>
		</form>
	</li>
	<li>
		<h3>Listings Count by</h3>
		<form action="/listingsReport" method="post">
   
			<p><b><u>Zip code within a city</u></b></p>
			<label for="country">Country</label>
			<input type="text" name="country" placeholder="country"><br>
			<label for="city">City</label>
			<input type="text" name="city" placeholder="city"><br>
			<label for="postal code area">Postal Area</label>
			<input type="text" name="zipArea" placeholder="postal code area" maxlength="3"><br>
			<label for="postal code location">Postal location</label>			
			<input type="text" name="zipNum" placeholder="postal code location" maxlength="3"><br>
			
			<!-- <button style="height:50px;width:300px">Search</button> -->
			<button >Generate Listings report</button>
			<h2 th:if="${listingCount >= 0}" th:text="${listingCount} + ' Listings found'"></h2>
		</form>
	</li>
	<li></li>
	<li>
		<h3>Malicious listings by city and counry</h3>
		
	</li>
</ol>



<h2 th:if="${bookings}" th:text="${num} + ' Bookings found'"></h2>
<div th:each="booking:${bookings}">
<table border=1>
	<tr>
		<td>
		<h3 th:text="${booking.start_date} + '  ' + ${booking.end_date}"></h3>
		</td>
	</tr>

</table>
</div>

</body>
</html>