<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<h1>
 Reports
</h1>

<ol>
	<li>
		<h3><u>Bookings Report by</u></h3>
		<form action="/bookingsReport" method="post">
   
			<p><b><i>Date range</i></b></p>
			<input type="date" name="startDate" placeholder="Start Date" value="2019-01-01">
			<input type="date" name="endDate" placeholder="End Date" value="2019-12-31"></br>
			<p><b><i>Refine by Zipcode within a city</i></b></p>
			<input type="text" name="city" placeholder="city">
			<input type="text" name="zipArea" placeholder="postal code area" maxlength="3">
			<input type="text" name="zipNum" placeholder="postal code location" maxlength="3"><br><br>
			
			<!-- <button style="height:50px;width:300px">Search</button> -->
			<button >Generate booking report</button>
		</form>
		<div th:if="${bookings}" style="border: 2px solid black; margin-top: 4px">
			<h2  th:text="${num} + ' Bookings found'"></h2>
			<div th:each="booking:${bookings}">
			<table border=1>
				<tr>
					<td>
					<h3 th:text="${booking.start_date} + '  ' + ${booking.end_date}"></h3>
					</td>
				</tr>
	
			</table>
			</div>
		</div>
		
	</li>
	<li>
		<h3><u>Listings Count by</u></h3>
		<form action="/listingsReport" method="post">
   
			<p><b><i>Refine by zip code within a city</i></b></p>
			<label for="country">Country</label>
			<input type="text" name="country" placeholder="country">
			<label for="city">City</label>
			<input type="text" name="city" placeholder="city"><br><br>
			<label for="postal code area">Postal Area</label>
			<input type="text" name="zipArea" placeholder="postal code area" maxlength="3">
			<label for="postal code location">Postal location</label>			
			<input type="text" name="zipNum" placeholder="postal code location" maxlength="3"><br><br>
			
			<!-- <button style="height:50px;width:300px">Search</button> -->
			<button >Generate Listings report</button>
			<h2 th:if="${listingCount >= 0}" th:text="${listingCount} + ' Listings found'"></h2>
		</form>
	</li>
	<li>
		<h3>Rank Hosts by total number listings per</h3>
		<form action="/hostRankReport">
			<p><b><i>Country</i></b></p>
			<input type="text" name="city" placeholder="city"><br>
			<p><b><i>Refine by City</i></b></p>
			<input type="text" name="city" placeholder="city"><br><br>
			<button >Rank Hosts</button>
		</form>
		
	</li>
	<li>
		<h3>Malicious listings by city and counry</h3>
		
	</li>
	<li>
		<h3><u>Renter ranking by bookings</u></h3>
		<form action="renterBookingRank" method="POST">
			<p><b><i>Date range</i></b></p>
			<input type="date" name="start_date" value="1970-01-01" required="true">
			<input type="date" name="end_date" value="2025-12-31" required="true">
			<p><b><i>Filter by city (at least two bookings in the range)</i></b></p>
			<input type="text" name="city"  placeholder="Toronto">
			<button >Rank renters by bookings</button>
			<!-- <div th:if="${renters}" style="border: 2px solid black; margin-top: 4px"> -->
			<table border=1 >
					<!-- <tr th:if="${rentersrank}" th:each="index:${#numbers.sequence( 0, #arrays.length(rentersrank)-1)}">
					    <td th:text="${rentersrank[index]}">List1Elm1</td>
					    <td th:text="${ranks[index]}">List2Elm1</td>
					</tr> -->
				<tr th:if="${rentersrank}" th:each="r:${rentersrank}">
					<td><p th:text="${r.id}"></p></td>
					<td><p th:text="${r.first_name}"></p></td>
					<td><p th:text="${r.last_name}"></p></td>
					<!-- <td><p th:text="${r.last_name}"></p></td> -->
					<!-- <td><p th:text="${renter.numBookings()"></p></td> -->
				</tr>
	
			</table>
		</div>
		</form>
		
	</li>
	<li>
		<h3><u>Cancellation Report</u></h3>
		<form action="cancelReport" method="POST">
			<p><b><i>Select a year</i></b></p>
			<input type="Number" name="year" value="2019"><br><br>
			<button >Get Cancellation report</button>
		</form>
		
		<h3 th:if="${renters}">Renter and Host Cancellations</h3>

		<div >
			<table border=1 th:each="renter:${renters}">

			
			<tr>
				<td><span th:text="${renter.id}"></span></td>
				<td><span th:text="${renter.first_name}"></span></td>
				<td><span th:text="${renter.last_name}"></span></td>
				<td><span th:text="${renter.getDistinctCancelledCount()}"></span></td>

				
			</tr>
		</table>	

		</div>

		<div >
			<table border=1 th:each="host:${hosts}">
			<tr>
				<td><span th:text="${host.id}"></span></td>
				<td><span th:text="${host.first_name}"></span></td>
				<td><span th:text="${host.last_name}"></span></td>
				<td><span th:text="${host.getDistinctCancelledCount()}"></span></td>

			</tr>
			</table>	

		</div>
	</li>
</ol>
</body>
</html>
