<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>
	Create Listing
</h1>

<form action="/saveListing" method="POST">
	<input type="text" name="name" placeholder="Name">
	<input type="text" name="type" placeholder="Type">
	<input type="text" name="latitude" placeholder="Latitude">
	<input type="text" name="longitude" placeholder="Longitude">
	<input type="text" name="country" placeholder="Country">
	<input type="text" name="city" placeholder="City">
	<input type="text" name="street_name" placeholder="Street Name">
	<input type="text" name="street_num" placeholder="Street Number">
	<input type="text" name="unit" placeholder="Unit">
	<input type="text" name="postal_code_area" placeholder="Postal Code Area">
	<input type="text" name="postal_code_num" placeholder="Postal Code Number">
	<input type="text" name="host_id" placeholder="Your ID">
	<input type="text" name="active" value="1"  hidden>
	<button>Create Listing</button>
</form>
 <h2> Good Amenities to have: </2>
 <p th:text="${popular_amenity1}"></p>
 <p th:text="${popular_amenity2}"></p>
 
</body>
</html>