<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>
	Make a Booking
</h1>
<form action="/saveBooking" method="POST">
	<input type="text" name="renter_id" placeholder="Renter ID">
	<input type="text" name="listing_id" placeholder="Listing ID">
	<input type="text" name="start_date" placeholder="Start Date">
	<input type="text" name="end_date" placeholder="End Date">
	<button>Make a Booking</button>
</form>
 
<p th:text="${message}"></p>
 
 <h1>List of listings</h1>
  <table>
  	<tr>
  	    <th>ID</th>
        <th>Name</th>
    </tr>
    <tr th:each="listing: ${listings}">
	    <td th:text="${listing.id}" />
	    <td th:text="${listing.name}" />
	</tr>
</table>

<h1>List of Available Listings</h1>
  <table>
  	 <tr>
  	    <th>Listing ID</th>
        <th>Price</th>
        <th>Date Available</th>
    </tr>
    <tr th:each="a: ${availabilities}">
	    <td th:text="${a.listing.id}" />
	    <td th:text="${a.price}" />
	    <td th:text="${a.date}" />
	</tr>
</table>
  
</body>
</html>