<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>
	Become a Renter
</h1>

<form action="/saveRenter" method="POST">
	<input type="text" name="SIN" placeholder="SIN">
	<input type="text" name="first_name" placeholder="First Name">
	<input type="text" name="last_name" placeholder="Last Name">
	<input type="text" name="occupation" placeholder="Occupation">
	<input type="date" name="DOB" placeholder="Date of Birth">
	<input type="text" name="card_num" placeholder="Card Number">
	<input type="text" name="exp_date" placeholder="Expiry Date (YYYY-MM-DD)">
	<input type="text" name="active" value="1"  hidden>
	<button>Become a Renter</button>
</form>
 
 <p th:text="${message}"></p>
 
 <h1>List of renters</h1>
  <table>
  	<tr>
  	    <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th> 
        <th>Active</th>
    </tr>
    <tr th:each="renter: ${renters}">
	    <td th:text="${renter.id}" />
	    <td th:text="${renter.first_name}" />
	    <td th:text="${renter.last_name}" />
	    <td th:text="${renter.active}" />
	</tr>
</table>
 
</body>
</html>