<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>
	Delete Listing
</h1>

<form action="/delListing" method="POST">
	<input type="text" name="listing_id" placeholder="Listing ID">
	<input type="text" name="host_id" placeholder="Your ID">
	<button>Delete Listing</button>
</form>
 
  <p th:text="${message}"></p>
  
 <h1>List of listings</h1>
  <table>
  	<tr>
  	    <th>ID</th>
        <th>Name</th>
    </tr>
    <tr th:each="listing: ${listings}">
	    <td th:text="${listing.id}" />
	    <td th:text="${listing.name}" />
	</tr>
</table>
  
</body>
</html>