<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>
	Deactivate Host
</h1>

<form action="/delHost" method="POST">
	<input type="text" name="SIN" placeholder="SIN">
	<button>Deactivate Host</button>
</form>

<h1>List of hosts</h1>
  <table>
  	<tr>
  	    <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th> 
        <th>Active</th>
    </tr>
    <tr th:each="host: ${hosts}">
	    <td th:text="${host.id}" />
	    <td th:text="${host.first_name}" />
	    <td th:text="${host.last_name}" />
	    <td th:text="${host.active}" />
	</tr>
</table>
 
</body>
</html>