<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Name:</h1>
<h2 th:text="${listing.name}">title</h2>

<h1>Type:</h1>
<h2 th:text="${listing.type}">title</h2>

<h1>Latitude:</h1>
<h2 th:text="${listing.latitude}">title</h2>

<h1>Longitude:</h1>
<h2 th:text="${listing.longitude}">title</h2>

<h1>Address:</h1>
<h2 th:text="${listing.street_name}">title</h2>
<h2 th:text="${listing.street_num}">title</h2>
<h2 th:text="${listing.unit}">title</h2>
<h2 th:text="${listing.country}">title</h2>

<h1>Listed On:</h1>
<h2 th:text="${listing.listed_on}">title</h2>

<h1>Created By:</h1>
<h2 th:text="${listing.host.first_name}">title</h2>
<h2 th:text="${listing.host.last_name}">title</h2>

</body>
</html>