<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>
	Make Listing Available
</h1>

<form action="/maAvailable" method="POST">
	<input type="text" name="new_date" placeholder="New Date">
	<input type="text" name="price" placeholder="Price">
	<input type="text" name="listing_id" placeholder="Listing ID">
	<button>Make Available</button>
</form>
 
</body>
</html>