<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>
	Make Listing Available
</h1>

<form action="/maAvailable" method="POST">
	<input type="text" name="host_id" placeholder="Your ID">
	<input type="date" name="new_date" placeholder="New Date">
	<input type="text" name="price" placeholder="Price">
	<input type="text" name="listing_id" placeholder="Listing ID">
	<button>Make Available</button>
</form>

<p th:text="${message}"></p>

<h3>Price suggestion for your listing per day (HOST TOOLKIT):</h3>
<p th:text="'$' + ${avg_price}"></p>

<h1>List of Available Listings</h1>
  <table>
  	 <tr>
  	    <th>Listing ID</th>
        <th>Price</th>
        <th>Date Available</th>
    </tr>
    <tr th:each="a: ${availabilities}">
	    <td th:text="${a.listing.id}" />
	    <td th:text="${a.price}" />
	    <td th:text="${a.date}" />
	</tr>
</table>
 
</body>
</html>