<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CSCC43 Database Project MyBnB Summer 2019</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>All Operations</h1>
  <ul>
    <li><a href="/createHost">Become a Host</a></li>
    <li><a href="/createRenter">Become a Renter</a></li>
    <li><a href="/deleteHost">Delete Host</a></li>
    <li><a href="/deleteRenter">Delete Renter</a></li>
    <li><a href="/createListing">Create Listing</a></li>
    <li><a href="/deleteListing">Delete Listing</a></li>
    <li><a href="/createBooking">Create Booking</a></li>
    <li><a href="/cancelBookingRenter">Cancel Booking (For Renter) </a></li>
    <li><a href="/deleteListing">Cancel Booking (For Host)</a></li>
    <li><a href="/renterCommentHost">Renter Comment On Host</a></li>
    <li><a href="/hostCommentRenter">Host Comment On Renter</a></li>
    <li><a href="/renterCommentListing">Renter Comment On Listing</a></li>
    <li><a href="/deactivateHost">Deactivate Host</a></li>
    <li><a href="/deactivateRenter">Deactivate Renter</a></li>
    <li><a href="/activateHost">Activate Host</a></li>
    <li><a href="/activateRenter">Activate Renter</a></li>

  </ul>
</body>
</html>