<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>
	Make a Comment on Host
</h1>

<form action="/renterCommentHostPost" method="POST">
	<input type="text" name="added_on" placeholder="Today's Date">
	<input type="text" name="text" placeholder="Comment">
	<input type="text" name="rating" placeholder="Rating">
	<input type="text" name="booking_listing_id" placeholder="Listing ID">
	<input type="text" name="booking_renter_id" placeholder="Your ID">
	<button>Make Comment</button>
</form>
 
</body>
</html>